
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<p>登录页</p>
<div><label>帐号</label><input type="text" value="" id="username" /></div>
<div><label>密码</label><input type="text" value=""  id="password"/></div>
<div><input  type="button" id="isok" value="登录"/></div>

